div {
    margin-top: 50px;
    padding: 30px 10px 30px 10px;
    border: 1px solid gray;
    background-color: rgb(129, 198, 80);
    display: flex;
    justify-content: center;
}

div:first-child {
    flex-direction: column;
    align-items: center;
}

input {
    background-color: rgb(173, 250, 118);
    width: 40px;
    margin-right: 1px;
    margin-left: 10px;
}

input:first-child {
    margin-left: 0;
}

button {
    cursor: pointer;
}